body {
  background-color: rgb(243, 243, 243);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color:rgb(16, 16, 75);
  margin: auto;
  padding: 0.5px;
  text-align: center;
}
h1{
  color:rgb(16, 16, 75);
}
h2{
  color:rgb(16, 16, 75);
}

h4{
  color:rgb(16, 16, 75);
}


table, tr, th {
  border: 2px solid rgb(36, 34, 57);
  padding: 0.5px; 
  color: green;
  background: rgb(143, 195, 214)
}

table, tr, td{
  border: 2px solid grey;  
  color: rgb(16, 16, 75);
  padding: 1px; 

}
a{
  color: #1100ff;
  text-decoration: None;
}

table, tr:nth-child(odd){
  color: yellow;
  border: 2px solid grey; 
  padding: 1px; 
  background: rgb(198, 200, 202);
}

input{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 24px;
}
select{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 24px;
}
button {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: rgb(143, 195, 214);
  text-align: center;
  font-size: 24px;
  
}
.App {
  text-align: center;
}

.App-header {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
